<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIs e API Gateway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Introdução a APIs e API Gateway</h1>
        </header>
        <img src="/FLASK/static/images/imagen-1.png" alt="Ilustração de APIs"  class="imagem-principal">
        <h2>API</h2>

        API<b> (Application Programming Interface)</b> conjunto de regras e definições que permite que softwares  comuniquem entre si,<br>
        possibilita a integração de diferentes sistemas ou plataformas, promovendo a troca de dados e funcionalidades.

        <h3>Exemplos de API no dia a dia</h3>
        <p><b>Serviços de mapas:</b> Aplicativos de entrega ou transporte usam APIs de serviços de mapas (como Google Maps) para buscar informações de geolocalização e rotas.</p>
        <p><b>Redes Sociais:</b> Aplicativos terceiros podem utilizar APIs do Facebook ou Instagram para postar, buscar ou interagir com dados.</p>

        <h3>Tipos de API:</h3>
        <p><li><b>APIs REST:</b> Seguem princípios do protocolo <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTTP" target="_blank"><strong>HTTP</strong></a>, permitindo que clientes façam requisições para recursos específicos via URL.</li></p>
        <img src="/FLASK/static/images/imagen-2.png" alt="Ilustração de APIs" class="imagem2">
        <p><li><b>APIs SOAP:</b> Usam <a href="https://developer.mozilla.org/en-US/docs/Web/XML" target="_blank"><strong>XML</strong></a> e são mais estruturadas, porém mais complexas.</li></p>
        <img src="/FLASK/static/images/imagen-3.avif" alt="Ilustração de APIs"  class="imagem2">
        <p><li><b>GraphQL:</b> Permite consultas mais flexíveis, onde o cliente define quais dados quer receber</li></p>
        <img src="/FLASK/static/images/imagen4.jpg" alt="Ilustração de APIs"  class="imagem2">

        <h3>Benefícios de uma API</h3>
        <p><b>Integração fácil :</b> Permitem que diferentes sistemas troquem dados de maneira simples e eficiente.</p>
        <p><b>Automação: </b>Processos que antes eram manuais podem ser automatizados usando APIs.</p>
        <p><b>Escalabilidade:</b> Empresas podem ampliar ou diversificar seus serviços, oferecendo APIs para parceiros e clientes.</p>
        <p><b>Segurança:</b> APIs podem controlar quais dados e funções são acessíveis, garantindo proteção e privacidade.</p>

        <h2>API Gateway</h2>
        <b>API Gateway</b> é um servidor intermediário que fica entre os clientes (como aplicativos ou usuários) e uma coleção de serviços backend.

        <h3>Função Principal</h3>
        <b>Gerenciamento centralizado de APIs:</b><br> O Gateway atua como ponto de entrada único para todas as APIs de um sistema. Isso facilita o controle, segurança e monitoramento das APIs.

        <h3>Principais Responsabilidades:</h3>
        <p><b>Autenticação e Autorização:</b> Valida quem pode acessar as APIs e garante que apenas usuários autorizados tenham permissão.</p>
        <p><b>Rate Limiting (Limitação de Requisições): </b> Limita o número de requisições que um cliente pode fazer em um período, protegendo o sistema contra sobrecarga.</p>
        <p><b>Roteamento de Solicitações:</b> Direciona as requisições dos clientes para o serviço adequado no backend.</p>
        <b>Agregação de Serviços:</b> Pode combinar dados de múltiplos serviços backend em uma única resposta para o cliente.

        <h3>Exemplo</h3>
        Um aplicativo de <b>e-commerce</b> que tem diferentes APIs para gerenciar estoque, pagamento e entrega.<br>
        O <b>API Gateway</b> recebe todas as requisições do cliente (como verificar estoque ou processar um pagamento), autentica o cliente e distribui essas requisições para os serviços adequados no backend.
        <img src="/FLASK/static/images/imagen-5.png" alt="Ilustração de APIs" class="imagem5">

        <h3>Vantagens do API Gateway</h3>
        <p><b>Segurança centralizada:</b> Ele é o responsável por autenticar usuários, garantindo que os serviços backend estejam protegidos.</p>
        <p><b>Simplificação:</b> Ao usar um gateway, o cliente só precisa interagir com um único ponto de entrada, mesmo que o sistema tenha múltiplos serviços.</p>
        <p><b>Monitoramento e Logging:</b> Fornece métricas e logs centralizados, ajudando na identificação de falhas e otimização de performance.</p>
        <p><b>Redução de Latência:</b> Pode otimizar as chamadas combinando ou organizando requisições para melhorar o tempo de resposta.</p>

        <div style="display: flex;">
            <div style="margin-right: 20px;">
                <h3>Diferenças entre APIs e API Gateway</h3>
                <table border="1">
                    <thead>
                        <tr>
                            <th>API</th>
                            <th>API Gateway</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>É uma interface para comunicação entre sistemas.</td>
                            <td>É um ponto central para gerenciar e rotear APIs.</td>
                        </tr>
                        <tr>
                            <td>Pode ser individual, específica para um serviço.</td>
                            <td>Pode gerenciar múltiplas APIs de diferentes serviços.</td>
                        </tr>
                        <tr>
                            <td>Foca na integração de sistemas.</td>
                            <td>Foca em segurança, roteamento e monitoramento.</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3>Desafios ao Utilizar APIs e API Gateways</h3>
                <table border="1">
                    <thead>
                        <tr>
                            <th>Desafios </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Segurança: APIs são pontos de acesso sensíveis, que precisam de autenticação robusta e proteção contra ataques (como DDoS).</td>
                        </tr>
                        <tr>
                            <td>Manutenção: Atualizações em APIs podem quebrar compatibilidade com clientes antigos, por isso é importante fazer versionamento de APIs.</td>
                        </tr>
                        <tr>
                            <td>Escalabilidade: À medida que o número de usuários aumenta, o API Gateway precisa lidar com a carga extra sem comprometer a performance.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h2>Melhores Práticas ao Trabalhar com APIs e API Gateways</h2>
        <h3>Para APIs</h3>
        <p><li><b>Design focado em simplicidade:</b></li> As APIs devem ser fáceis de entender e usar.</p>
        <p><li><b>Documentação Completa:</b></li> APIs bem documentadas facilitam a integração para desenvolvedores.</p>
        <p><li><b>Versionamento :</b></li> Sempre que houver mudanças significativas, uma nova versão da API deve ser lançada.</p>
        <h3>Para API Gateways</h3>
        <p><li><b>Autenticação sólida: </b></li> Utilize OAuth, JWT ou outros padrões modernos para garantir a segurança.</p>
        <p><li><b>Limitação de taxa:</b></li> Implementar rate limiting para prevenir abusos e manter a estabilidade.</p>
        <p><li><b>Monitoramento contínuo:</b></li> Utilize ferramentas de monitoramento para acompanhar a performance e identificar possíveis gargalos.</p>

        <h3>Conclusão</h3>
        <p>APIs e API Gateways são ferramentas fundamentais para a integração e gerenciamento de sistemas em um ambiente digital moderno.</p>
        <p>Elas permitem que diferentes serviços conversem entre si, trazendo escalabilidade, segurança e eficiência para  as empresas.</p>
            <p>APIs permitem que sistemas se comuniquem.</p>
            <p>API Gateway facilita o gerenciamento, roteamento e segurança dessas APIs, sendo essencial para arquiteturas mais complexas.</p>
    
                  </div><a href="{{ url_for('index') }}"><button class="meu-botao">Voltar</button></a>
    </div>
</body>
</html>