<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10794</title>
</head>
<body>
    <div style="overflow: hidden;">
        <img src="{{ url_for('static', filename='images/logo-removebg-preview.png') }}" alt="img" width="300" style="float: right; margin-left: 20px;">
        <h1>Documentação do projeto: Dreambuilder</h1>
        <h3>
            A Dreambuilder é uma aplicação web que consiste em ajudar users a realizar/concretizar metas/sonhos.
            <br>Consoante a meta e o tempo disponível, a Dreambuilder vai construir um plano que permita a realização dessa meta.
        </h3>
        <p>
            Esta aplicação permite também a comunicação entre users, seja individualmente através das amizades na app, ou através de grupos,
            o que ajuda a motivarem-se uns aos outros, partilha de experiências, troca de dicas/ideias e crescimento de grupo.
        </p>
        <p>
            A Dreambuilder está no dia a dia do user, o que faz o plano ser atingido na meta escolhida (data), ou seja, o user tem que registar os seus dados diariamente,
            criando um "streak". Para além disso, envia notificações com frases motivacionais e lembretes. Para concluir, a Dreambuilder faz uma análise semanal, com os dados registados ao
            longo da semana e, através de uma AI, fala com o user para rever o plano e se for preciso fazer alterações.
        </p>
    </div>
    <h2>UML do trabalho:</h2>
    <div style="display: flex; align-items: flex-start;">
        <img src="{{ url_for('static', filename='images/diagram2.png') }}" alt="img" width="600"> <!-- Ajuste o valor de margin-left conforme necessário -->
        <img src="{{ url_for('static', filename='images/diagram1.png') }}" alt="img" width="1200"> <!-- Ajuste o valor de margin-right conforme necessário -->
    </div>
    <br><br> <a href="{{ url_for('home_page') }}"><button class="meu-botao3">Pagina Inicial App</button></a>
    
    <p>
        <h2>Explicação de:</h2>
    </p>
    <ul>
        <a href="{{ url_for('index2') }}"><button class="meu-botao1">API/API Gateway</button></a>
        <a href="{{ url_for('index3') }}"><button class="meu-botao2">Microsserviços</button></a>
    </ul>
    <div class="imagem-container">
        <img src="{{ url_for('static', filename='images/img.1.png') }}" alt="img">
    </div>
    <br><br>
    <p>
        <h3>Para este projeto vamos integrar 6 módulos:</h3>
        <ul>
            <li>Administração de redes locais (0801)</li>
            <li>Processamento computacional (0802)</li>
            <li>Programação em C/C++ avançada (0810)</li>
            <li>Administração de bases de dados para programadores (3933)</li>
            <li>Programação de sistemas distribuídos - JAVA (0816)</li>
            <li>Programação avançada com Python (10794)</li>
        </ul>
        <br>
        <a href="{{ url_for('proccomp') }}">
            <button class="redirect-button">Ir para Processamento Computacional</button>
        </a>
        <p>Para este trabalho, vamos utilizar as linguagens: C/C++, Python, Java</p>
        <h3>Como dividimos o trabalho:</h3>
        <ul>
            <li>Abdaisy: Explicação API, Unidade de memória e processador.</li>
            <li>Lara: Explicação Microsserviços, Organização de um computador e Componentes de um computador.</li>
        </ul>
        <br><br><br><br><br><br>
        <div class="footer">
            <p>&copy; Realizado por: Abdaisy Conceição & Lara Pires</p>
        </div>
    </body>
    </html>