<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsserviços</title>
</head>
<body>
  <div class="container">
    <header>
        <h1>Microsserviços</h1>
    </header>

<h3><p>Microsserviços são uma abordagem arquitetônica para o desenvolvimento de software que envolve dividir uma aplicação em pequenos serviços independentes, cada um responsável
     por uma funcionalidade específica. Esses serviços comunicam-se entre si através de APIs.
</h3>
<center>
<div class="imagem-container">

  <img src="{{ url_for('static', filename='images/img2.jpg') }}" alt="img" width="600">

  

  </div></center>
  
<h2>Características dos Microsserviços:</h2>

<h2><li>Independência:</h2> <h3><p>Cada microserviço pode ser desenvolvido, testado e implantado de forma independente. Isso permite uma maior agilidade no desenvolvimento e na entrega de software.
</li></h3><br>

<h2><li>Escalabilidade:</li></h2> <h3><p>Microserviços podem ser escalados individualmente, permitindo que apenas as partes mais demandadas da aplicação recebam mais recursos, em vez de escalar toda a aplicação.
</h3><br>

<h2><li>Tecnologias Diversificadas:</li></h2><h3><p> Diferentes microserviços podem ser escritos em diferentes linguagens de programação ou utilizar diferentes tecnologias, dependendo das necessidades específicas de cada serviço.
</h3><br>

<h2><li>Resiliência:</li></h2><h3><p> Se um microserviço falhar, isso não necessariamente afeta toda a aplicação, pois os outros serviços podem continuar funcionando. Isso aumenta a resiliência geral do sistema.
</h3><br>

<h2><li>Gerenciamento de Dados:</li></h2><h3><p> Cada microserviço pode ter seu próprio banco de dados, permitindo um modelo de dados que melhor se adapte às suas necessidades específicas, em vez de um banco de dados monolítico compartilhado.
</h3>
<br><br><br>

<h2>Exemplo Prático: aplicação de streaming de vídeo.</h2>

<br>
<h2>Cenário com Microserviços</h2>

<h2><li>Serviço de Autenticação: </li></h2><h3><p>Um microserviço responsável apenas por gerenciar usuários, autenticação e autorização.
</h3><br>

<h2><li>Serviço de Catálogo: </li></h2><h3><p>Um microserviço que gerencia a lista de vídeos disponíveis, incluindo detalhes como título, descrição e gêneros.
</h3><br>

<h2><li>Serviço de Streaming: </li></h2><h3><p>Um microserviço que lida com a transmissão real dos vídeos para os usuários.
</h3><br>

<h2><li>Serviço de Recomendações: </li></h2><h3><p>Um microserviço que analisa o comportamento dos usuários e sugere vídeos com base nas suas preferências.
</h3><br>

<h2><li>Serviço de Pagamento: </li></h2><h3><p>Um microserviço que processa pagamentos para assinaturas ou aluguel de vídeos.



<br><br>

<a href="{{ url_for('index') }}"><button class="meu-botao">Voltar</button></a>



</body>
</html>